<% @students.each do |student| %>
    <div class="my-3 border rounded shadow-md w-50 p-3 text-center mx-auto">
        <%= gravatar_for student, size: 80 %>
        <h5 class="my-3"><%= student.full_name %></h5>
        <h6 class="text-muted"><%= student.email %></h6>
        <h6>Class <%= student.group.group_number %></h6>
    </div>
<% end %>

